@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

.footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #828282;
    width: 100%;
    text-align: center;
    padding-bottom: 17px;
}

.user {
    font-weight: 700;
    text-decoration: underline;
}

.user:visited {
    color: #828282;
}

.user:active, .user:hover {
    color: #3f3f3f; 
}

@media (max-width: 400px) {

    .footer {
        font-size: 12px;
    }

}

@media (min-width: 720px) and (max-width: 1199px) {

    .footer {
        margin-top: 125px;
        position: relative;
        bottom: 0;
    }

}

@media (min-width: 1200px) {
    .footer {
        font-size: 18px;
    }
}