.button {
    display: flex;
    justify-content: flex-end;
    margin: 30px 50px 0 0;
}

.button-container {
    display: flex;
}

.button-container:hover {
    cursor: pointer;
}

.random {
    margin-right: 11px;
    color: #4F4F4F;
    font-weight: 500;
    font-size: 18px;
}


.refresh {
    width: 22px;
    height: 22px;
}
