.container-quote {
    display: flex;
    justify-content: center;
    margin-top: 130px;
    flex-grow: 1;
}

.bar {
    background-color: #F7DF94;
    width: 5px;
    margin-right: 50px;
}


.quote {
    position: relative;
    width: 400px;
    text-align: left;
}

.quote::before {
    content:'';
    height: 100%;
    width: 5px;
    background-color: #F7DF94;
    display: block;
    position: absolute;
    top: 0;
    left: -50px;
}

@media (min-width: 320px) and (max-width: 719px) {

    .container-quote {
        margin-top: 80px;
        flex-grow: 0;
    }

    .quote {
        width: 200px;
    }
    
}

@media (min-width: 720px) and (max-width: 1199px) {
    
    .container-quote {
        margin-top: 80px;
    }

    .quote {
        width: 250px;
    }
    
}

@media (min-width: 1200px)  {
    
    .container-quote {
        margin-top: 80px;
    }

    .quote {
        font-size: 20px;
        width: 300px;
    }
    
}